body{
	background-color: green;
}

.controls{
	margin: 0 auto;
	width: 200px;
	text-align: center;
	margin-top: 150px;
}

.button{
	text-decoration: none;
	font-size: 14px;
	color: white;

}

.stopwatch{
	text-align: center;
	font-size: 25px;
	font-family: 'Arial';
	color: red;
}